.reactFlowMainClass {
    height: 100%;
    margin: 0;
    width: 70%;
    position: relative;
    /* border: 1px solid black; */
  }

  .clearAllDiv{
    position: absolute;
    right: 5px;
    top: 5px;
    color: red;
    z-index: 10;
    cursor: pointer;
  }