:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
}
.reactFlowMainClass {
  height: 100%;
  margin: 0;
  width: 60%;
}

.playArea{
  height: 93%;
  display: flex;
}

.deactivateNode{
  border-color: grey !important;
  color: grey !important;
  cursor: not-allowed !important;
}